@import url("https://fonts.googleapis.com/css?family=Montserrat");

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1.4em;
}

h1 {
  font-size: 2.4em;
}

.container__item {
  margin: 0 auto 0;
}

.landing-page-container {
  width: 100%;
  min-height: 100%;
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: table;
  font-family: "Montserrat", sans-serif;
  color: #09383e;
}

.content-wrapper {
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.header {
  width: 100%;
  height: 2rem;
  padding: 3rem 0;
  display: block;
}

.menu-icon {
  width: 2.5rem;
  height: 1.5rem;
  display: inline-block;
  cursor: pointer;
}

.header__item {
  display: inline-block;
  float: left;
}

.menu-icon__line {
  width: 1.5rem;
  height: 0.2rem;
  background: #0c383e;
  display: block;
}

.menu-icon__line:before {
  content: "";
  width: 1.5rem;
  height: 0.2rem;
  background: #0c383e;
  display: inline-block;
  position: relative;
  left: 0.5rem;
  top: -0.6rem;
}
.menu-icon__line:after {
  content: "";
  width: 1.5rem;
  height: 0.2rem;
  background: #0c383e;
  display: inline-block;
  position: relative;
  top: -1.8rem;
}

.heading {
  width: 90%;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.7rem;
  margin: 0 30px;
  text-align: center;
}
.url {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.coords {
  font-size: 1rem;
  display: inline-block;
  float: left;
  position: relative;
  top: 40%;
  letter-spacing: 0.2rem;
  left: -4.5rem;
  margin: 0;
  transform: rotate(-90deg) translateY(50%);
}
.greeting {
  margin-top: 0px;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: lighter;
}
input {
  display: block;
  width: 320px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 14px;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
}
button {
  width: 332px;
  height: 50px;
  font-size: 16px;
  background: #000;
  font-weight: lighter;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}
